<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
        <h1>Exam Monitoring System</h1>
        <div>
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
    </div>

    <div class="container">
        <h2>Candidate Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter Email" required>
            
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password" required>
            
            <button type="submit" class="btn">Login</button>
        </form>

        <p style="margin-top:15px;">
            New User? <a href="/register">Register Here</a>
        </p>
    </div>

    <footer>
        © 2026 Exam Monitoring System
    </footer>

</body>
</html>